@use "../../Sass/Colors" as Color;
@use "../../Sass/Typography" as Font;

#Contact_Section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 15%;
  background-color: Color.$color-primary-coral;
  background-image: url("../../Assets/svgs/bg-pattern-contact-section.svg");
  background-repeat: no-repeat;
  background-size: 14rem 10rem;
  background-position-x: calc(0%);
  background-position-y: calc(100%);

  #Contact_Section_Heading {
    padding: 0 1.5rem;
    color: Color.$color-secondary-dark-green-2;
    font-size: Font.$small-heading;
    font-weight: Font.$font-weight-semi-bold;
    text-align: center;
    line-height: Font.$small-heading-line-height;
  }

  #Contact_Section_Btn {
    margin: 0 1.5rem;
    height: 3.5rem;
    width: 12rem;
    border-radius: 2rem;
    border: 3px solid Color.$color-secondary-dark-green-2;
    cursor: pointer;
    transition: transform 1s ease;

    a {
      color: Color.$color-secondary-dark-green-2;
      text-decoration: none;
      font-size: Font.$font-size;
      font-weight: Font.$font-weight-semi-bold;
    }
  }

  #Contact_Section_Btn:hover {
    transform: scale(1.1);
    a {
      color: Color.$color-primary-white;
    }
    background-color: Color.$color-secondary-dark-green-3;
  }
}

@media screen and (max-width: "1144px") {
  #Contact_Section {
    padding: 5rem 5%;
    background-size: 10rem 8rem;
  }
}

@media screen and (max-width: "827px") {
  #Contact_Section {
    background-size: 14rem 10rem;
  }
}

@media screen and (max-width: "736px") {
  #Contact_Section {
    background-size: 10rem 8rem;
    justify-content: space-around;
    padding: 5rem 0%;

    #Contact_Section_Btn {
      margin: 0 3rem;
    }
  }
}

@media screen and (max-width: "617px") {
  #Contact_Section {
    #Contact_Section_Heading {
      padding: 0 1.5rem;
    }

    #Contact_Section_Btn {
      margin: 0 3rem 0 0;
    }
  }
}

@media screen and (max-width: "560px") {
  #Contact_Section {
    flex-direction: column;
    justify-content: center;
    padding: 3rem 5%;

    #Contact_Section_Heading {
      padding: 0;
      margin: 3rem 0 3rem;
    }

    #Contact_Section_Btn {
      margin: 0;
      margin-bottom: 3rem;
    }
  }
}
