@use "../../../Sass/variable" as Var;
#Home_Main_Article {
  img {
    display: block;
    margin: auto;
  }

  div {
    margin: 1rem 0 4rem 0;

    h3 {
      margin: auto;
      width: 70%;
      text-align: center;
      color: Var.$color-primary-coral;
    }

    p {
      margin: auto;
      width: 70%;
      text-align: center;
    }
  }
}
