@use "../../../Sass/Colors" as Color;
@use "../../../Sass/Typography" as Font;

#Home_Main_Article {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  img {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
  }

  div {
    width: 32rem;

    h3 {
      color: Color.$color-primary-coral;
      margin-bottom: 1rem;
      font-size: Font.$smallest-heading;
      font-weight: Font.$font-weight-semi-bold;
    }

    p {
      opacity: 0.8;
      font-size: Font.$small-font-size;
    }
  }
}

@media screen and(max-width: "560px") {
  #Home_Main_Article {
    flex-direction: column;

    img {
      margin-bottom: 1rem;
    }
    div {
      width: 90%;

      h3 {
        text-align: center;
      }
      p {
        width: 95%;
        margin: auto;
        text-align: center;
      }
    }
  }
}
