// Typography

// Font-Family
$font-family: "Livvic", sans-serif;

// Font-size
$big-heading: 6rem;

$small-heading: 3rem;

$smallest-heading: 1.5rem;

$font-size: 1.2rem;

$small-font-size: 1.1rem;

// Line-Height
$big-heading-line-height: 6.5rem;

$small-heading-line-height: 3.5rem;

$line-height: 2rem;

$Small-line-height: 1.8rem;

// Font-Weight
$font-weight-semi-bold: 600;

$font-weight-medium: 500;
