@use "../../../Sass/Colors" as Color;
@use "../../../Sass/Typography" as Font;

#Home_Stories_Article {
  width: 30rem;
  text-align: center;
  padding: 2.2rem 3rem 3rem 3rem;
  background-image: url("../../../Assets/svgs/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
  font-size: Font.$small-font-size;

  #Description {
    margin-bottom: 2rem;
    opacity: 1;
  }

  #Name {
    color: Color.$color-secondary-light-blue;
    margin-bottom: 0.5rem;
    font-size: Font.$font-size;
    font-weight: Font.$font-weight-semi-bold;
  }

  #Job_Position {
    margin-bottom: 1rem;
    font-style: italic;
    opacity: 1;
  }

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid Color.$color-secondary-light-blue-2;
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  img:hover {
    transform: rotateZ(360deg) scale(1.2);
    box-shadow: 0 0 90px 1px Color.$color-secondary-light-blue-2;
  }
}

@media screen and (max-width: "560px") {
  #Home_Stories_Article {
    width: 100%;
    padding: 2.2rem 5% 3rem;
  }
} ;
