@use "../../../Sass/Colors" as Color;
@use "../../../Sass/Typography" as Font;

.Card_Container {
  width: 25rem;
  height: 18rem;
  margin: 1rem 2rem 4rem;
  perspective: 1000px;
  background-color: transparent;
  user-select: none;

  .Card {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    .Front_Face {
      border-radius: 1rem;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: Color.$color-secondary-dark-green-2;
      backface-visibility: hidden;

      .Profil_Pic {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 2px solid Color.$color-secondary-light-blue-2;
        margin: 2rem 0 1rem 0;
        transition: transform 0.5s ease;
      }

      .Profil_Pic:hover {
        transform: scale(1.1) rotate(360deg);
        box-shadow: 0 0 30px 1px Color.$color-secondary-light-blue-2;
      }

      h3 {
        margin-bottom: 0.5rem;
        color: Color.$color-secondary-light-blue;
        font-weight: Font.$font-weight-semi-bold;
      }
      p {
        font-size: Font.$small-font-size;
        font-weight: Font.$font-weight-medium;
        opacity: 1;
      }

      button {
        border: none;
        outline: none;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: Color.$color-primary-coral;
        transition: transform 0.5s ease;
      }

      button:hover {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }

    .Back_Face {
      border-radius: 1rem;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: Color.$color-secondary-dark-green-2;
      backface-visibility: hidden;
      transform: rotateY(180deg);

      h3 {
        margin: 2rem 0 1rem 0;
      }
      p {
        margin: 0 auto 1.5rem;
        width: 70%;
        opacity: 1;
      }
      ul {
        margin: auto;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 1.5rem;

        li {
          list-style: none;
          height: 100%;
          width: fit-content;

          a {
            height: 100%;
            width: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        li:hover {
          transform: scale(1.1);

          a {
            img {
              filter: invert(49%) sepia(45%) saturate(528%) hue-rotate(314deg)
                brightness(110%) contrast(93%);
            }
          }
        }
      }
    }
    .Front_Face:hover,
    .Back_Face:hover {
      box-shadow: 0 0 20px 1px Color.$color-secondary-light-blue-2;
    }
  }
}

@media screen and (max-width: "560px") {
  .Card_Container {
    .Card {
      .Front_Face {
        p {
          width: 95%;
        }
      }

      .Back_Face {
        p {
          width: 95%;
        }
        ul {
          width: 40%;
          justify-content: space-evenly;
        }
      }
    }
  }
}
