@use "../../Sass/variable" as Var;
@use "../../Sass/typography" as Typo;

#About_Header_Heading {
  text-align: center;
  color: Var.$color-primary-white;
  margin: 2rem 0 2rem 0;
}

#About_Header_Para {
  width: 80%;
  text-align: center;
  color: Var.$color-primary-white;
  margin: 0 0 15rem 0;

  div {
    display: none;
  }
  p {
  }
}
