@use "../../Sass/Colors" as Color;
@use "../../Sass/Typography" as Font;

#About_Header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 20% 8rem;
  background-color: Color.$color-primary-green;
  background-image: url("../../Assets/svgs/bg-pattern-mobile-nav-1-about-1.svg");
  background-repeat: no-repeat;
  background-size: 13rem 13rem;
  background-position-x: calc(100% + 6.5rem);
  background-position-y: calc(100%);

  h1 {
    font-size: Font.$big-heading;
    font-weight: Font.$font-weight-semi-bold;
    animation: aboutHeader 1.5s ease;
  }

  section {
    width: 45%;

    div {
      height: 4px;
      width: 50px;
      margin-bottom: 3rem;
      background-color: Color.$color-primary-coral;
      animation: aboutDash 1.5s ease;
    }

    p {
      animation: aboutPara 1.5s ease;
    }
  }

  @keyframes aboutDash {
    0% {
      transform: translate(-35rem, 3rem) rotate(0deg);
      opacity: 0;
    }

    20% {
      transform: translate(-35rem, 12rem) rotate(360deg);
      opacity: 1;
    }

    80% {
      transform: translate(-10rem, 12rem) rotate(720deg);
    }

    100% {
      transform: translate(0) rotate(0deg);
    }
  }

  @keyframes aboutHeader {
    0% {
      transform: translate(-55rem, -25rem) rotate(0);
    }

    100% {
      transform: translate(0, 0) rotate(720deg);
    }
  }

  @keyframes aboutPara {
    0% {
      transform: translate(55rem, -25rem) rotate(720deg);
    }

    100% {
      transform: translate(0, 0) rotate(0);
    }
  }
}

@media screen and (max-width: "1664px") {
  #About_Header {
    padding: 1rem 20% 8rem;
    justify-content: space-between;

    section {
      width: 60%;
    }
  }
}

@media screen and (max-width: "1525px") {
  #About_Header {
    padding: 1rem 10% 8rem;
    justify-content: space-evenly;

    section {
      width: 50%;
    }
  }
}

@media screen and (max-width: "1118px") {
  #About_Header {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 10% 5rem;
    background-position-x: calc(100% + 6.5rem);
    background-position-y: calc(100% + 6.5rem);

    h1 {
      margin-bottom: 4rem;
    }

    section {
      width: 100%;

      div {
        display: none;
      }

      p {
        margin-bottom: 2rem;
        text-align: center;
      }
    }
  }
}
