@use "../../Sass/Colors" as Color;
@use "../../Sass/Typography" as Font;

#Home_Stories {
  padding: 5rem 0;
  background-color: Color.$color-secondary-dark-green-1;
  background-image: url("../../Assets/svgs/bg-pattern-home-4-about-3.svg"),
    url("../../Assets/svgs/bg-pattern-home-5.svg");
  background-repeat: no-repeat;
  background-size: 10rem 8rem, 15rem 8rem;
  background-position-x: calc(0%), calc(100%);
  background-position-y: calc(0%), calc(100%);

  h1 {
    padding: 0 25%;
    text-align: center;
    margin: 0 0 3rem 0;
    font-size: Font.$small-heading;
    line-height: Font.$small-heading-line-height;
    font-weight: Font.$font-weight-semi-bold;

    mark {
      background: transparent;
      color: Color.$color-secondary-light-blue;
    }
  }

  #Home_Stories_Articles {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: "560px") {
  #Home_Stories {
    padding: 8rem 0;
    background-size: 10rem 7rem, 15rem 8rem;

    h1 {
      padding: 0 5%;
    }
  }
}
