@use "../../Sass/Colors" as Color;
@use "../../Sass/Typography" as Font;

#Contact_Form {
  width: 50%;
  height: 40rem;
  float: right;
  padding: 2rem 0 0 0;
  background-color: Color.$color-primary-green;
  background-image: url("../../Assets/svgs/bg-pattern-contact-2.svg");
  background-repeat: no-repeat;
  background-size: 15rem 16rem;
  background-position-x: calc(100% + 7.5rem);
  background-position-y: calc(100%);

  form {
    display: flex;
    flex-direction: column;

    input {
      height: 3rem;
      width: 55%;
      background-color: transparent;
      margin-bottom: 0.5rem;
      border: none;
      outline: none;
      border-bottom: 1px solid Color.$color-primary-white;
      color: Color.$color-primary-white;
      padding-left: 1rem;
    }

    input::placeholder,
    textarea::placeholder {
      color: Color.$color-primary-white;
      opacity: 0.8;
      font-family: Font.$font-family;
    }

    span {
      margin: 0 0 0.5rem 1rem;
    }

    textarea {
      width: 55%;
      color: Color.$color-primary-white;
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid Color.$color-primary-white;
      padding: 0.5rem 0 0 1rem;
      margin-top: 0.5rem;
    }

    button {
      width: 8rem;
      height: 3rem;
      border: none;
      color: Color.$color-secondary-dark-green-1;
      font-size: Font.$font-size;
      font-weight: Font.$font-weight-semi-bold;
      background-color: Color.$color-primary-white;
      border-radius: 1.5rem;
      margin: 3rem 0rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: "560px") {
  #Contact_Form {
    width: 100%;
    height: auto;
    float: none;
    padding: 2rem 10%;
    background-position-x: calc(100% + 7.5rem);
    background-position-y: calc(100% + 8rem);

    form {
      input {
        width: 100%;
      }

      textarea {
        width: 100%;
      }
    }
  }
}
