@use "../../Sass/Colors" as Color;
@use "../../Sass/Typography" as Font;

#About_Client {
  padding: 1rem 0;
  background-color: Color.$color-secondary-dark-green-2;
  background-image: url("../../Assets/svgs/bg-pattern-about-4.svg");
  background-repeat: no-repeat;
  background-size: 13rem 13rem;
  background-position-x: calc(0%);
  background-position-y: calc(0%);

  h1 {
    text-align: center;
    padding: 5rem 10% 3rem;
    font-size: Font.$small-heading;
    font-weight: Font.$font-weight-semi-bold;
    line-height: Font.$small-heading-line-height;
  }

  #Clients {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 10% 4rem;

    img {
      height: 2rem;
      width: 13rem;
      margin: 3rem 3rem;
    }

    img:hover {
      transform: rotate(-5deg);
    }
  }
}

@media screen and (max-width: "560px") {
  #About_Client {
    background-position-x: calc(0% - 6.5rem);
    background-position-y: calc(0% - 6.5rem);

    h1 {
      padding: 4rem 10% 3rem;
    }

    #Clients {
      img {
        margin: 1.5rem 3rem;
      }
    }
  }
}
