@use "./Sass/Global";
@use "./Sass/Colors" as Color;
@use "./Sass/Typography" as Font;

body {
  font-family: Font.$font-family;
  font-weight: Font.$font-weight-medium;
  font-size: Font.$font-size;
  line-height: Font.$line-height;

  #Root {
    color: Color.$color-primary-white;
    position: relative;
    overflow: hidden;

    #Footer {
      background-color: Color.$color-secondary-dark-green-3;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 6rem 0;
    }
  }
}

@media screen and (max-width: "761px") {
  body {
    #Root {
      #Footer {
        flex-direction: column;
        align-items: center;
        padding: 6rem 0;
      }
    }
  }
} ;
